body{
background-color: #cde4e1;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%232b7d69' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.carteles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
  word-wrap: break-word;
  margin-bottom: 2em;
  border: 1px solid black;
  width: 100%;
  height: 12em;
  background-color: #f5f5f5; /* Color de fondo */
  background-image: url('../img/2023.jpg'); /* Ruta de tu imagen de fondo */
  background-size: cover; /* Para ajustar la imagen al contenedor */
  color: #333; /* Color de texto */
}

.base {
  border: 1px solid black;
  background-color: #fff; /* Color de fondo */
}

.base {
  border: 1px solid black;
  background-color: #fff; /* Color de fondo */
}


/*.carteles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
  word-wrap: break-word;
  margin-bottom: 2em;
  border: 1px solid black;
  width: 100%;
  height: 12em;
   
}

.base{
  border: 1px solid black;
}*/